* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Centra No2", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
h1,h2,h3,h4,h4 {
    font-family: "Centra No2", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.navbar {
    display: flex;
    font-weight: bold;
    padding: 10px;
    align-items: center;
    gap: 20%;
    padding-left: 25%;
    cursor: pointer;
}
.navbar h2 {
    color: #1668e3;
}
.navbar-links ul {
    display: flex;
    gap: 20px;
}
.navbar-links ul li{
    display: flex;
    text-decoration: none;
}
.navbar-links ul li:first-child {
    color: red;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px;
}